html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    color: #b1b4bd;
    background-color: #202020;
}
li .nav-item a{
    text-decoration: none;
}
a{
    color: #b1b4bd;
    font-weight: 500;
}
a:hover{
    color: #00f7ff;
}
.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 750px;
    padding-bottom: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 26, 27, 0.9)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(10, 10, 10, 0.74)), url(images/eqc.jpg);
    flex-direction: column;
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.sticky-nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 20px;
    z-index: 1;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: rgba(10, 16, 24, 0.5);
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    font-size: 2.2rem;
    color: white;
}
.navbar-brand{
    font-size: 1.7  rem;
    color: white;
}
.navbar-toggler{
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 22px;
}
.navbar-toggler span + span + span{
    width: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color: #e74c3e;
    
}
.heading{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    margin-top: 180px;
    margin-bottom: 8px;
    min-height: 80px;
}




.column-left{
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.247), rgb(0, 0, 0)), url(images/eqc1.jpg);
    background-position: 100px 100px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}
.column-right .section-title{ 
    margin-top: 80px;
    padding: 5rem 2rem 0rem 5rem;
    font-size: 2.8rem;
    color: #b1b4bd;
    font-weight: 500;
}
.paragraph{
    margin-top: 15px;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.1rem;
    color: #b1b4bd;
    line-height: 1.4;
    text-align: justify;
}
.our-services-right{
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa.jpg);
    background-position: 100px 100px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}
.service-section{
    margin-top: 20px;
    padding: 5rem 5rem 0rem 5rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.service-title-1{
    padding: 1rem 2rem 1rem 5rem;
    font-size: 1.8rem;
}
.service-title-2{
    padding: 1rem 5rem 1rem 1rem;
    font-size: 1.8rem;
}
.EQA{
    text-align: center;
}
.fas{
    padding: 3rem 2rem 1rem 5rem;
    font-size: 3rem;
    color: #0390fc;
}
.service-1 .fa{
    padding: 3rem 2rem 1rem 5rem;
}
.portfolio{
    min-height: 150px;
    overflow: hidden;
}
.gallery{
    height: 150px;
    min-height: 402px;
    background-position: 0px 0px;
    background-size: cover;
    opacity: 1;
}
.img-1{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa1.jpg);
}
.img-2{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa2.jpg);
}
.img-3{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa3.jpg);
}
.img-4{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa4.jpg);
}
.img-5{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa5.jpg);
}
.img-6{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)));
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.74)), url(images/eqa6.jpg);
}
.text-left-block{
    width: 100%;
    left: 0;
    height: 100%;
    z-index: 999;
    overflow: hidden;
}
.text-left-block .left-centre-text{
    display: table;
    position: relative;
    height: 100vh;
    padding: 0 10%;
    text-align: left;
}
.text-left-block .left-centre-text .left-centre-part{
    display: table cell;
    vertical-align: middle;
}
.text-left-block .left-centre-text .left-centre-part h2{
    font-weight: 500;
}
.team-section{
    padding: 4rem 0rem 1rem 0rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.team-paragraph{
    padding: 0rem 2rem 1rem 0rem;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: justify;
}
.block-team{
    margin: 1rem 0 0;
}
.block-team img.team-member{
    width: 340px;
    object-fit: fill;
}
.block-team h3{
    margin-top: 15px;
    font-size: 1.4rem;
}
.block-team small{
    text-transform: uppercase;
    font-size: 1rem;
    color: #e74c3e;
    font-style: italic;
    margin-bottom: 10px;
}
.block-team .paragraph{
    padding: 0rem 3rem 0rem 0rem;
}
.contact-right{
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)));
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.247), rgb(0, 0, 0)), url(images/eqs.jpg);
    background-position: 100px 100px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
}
.contact-section{
    padding: 1rem 0rem 1rem 0rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.contact-left .paragraph{
    padding: 0rem 3rem 0rem 0rem;
    font-size: 1rem;
    line-height: 1.2;
}
strong{
    font-weight: 700;
}
.phoe-mail-link{
    color: #fff;
    font-weight: bold;
}
#contact-form{
    margin-top: 40px;
}
#contact-form .form-control{  
    background-color: #031631;
    border: none;
    border-radius: .3rem;
    box-shadow: none;
    font-weight: 300;
    outline: medium none;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.2;
    height: auto;
    width: 100%;
    color: #fff;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
    text-align: left;
}
#contact-form .form-control:hover,#contact-form .form-control:focus{
    box-shadow: none;
    background: #293039;
}
#contact-form textarea.form-control{
    min-height: 8rem;
}
#contact-form span.sub-text{
    color: #939da5;
    position: absolute;
    font-size: 0.9rem;
    right: 5rem;
}
#contact-form button#valid-form{
    font-weight: 300;
    text-transform: uppercase;
    padding:  1rem 2rem;
    font-size: 1rem;
    color: #fff;
    margin: auto;
    margin-top: 1rem;
    border-radius: 2rem;
    border: none;
    display: inline-block;
}
#contact-form button#valid-form:hover{
    background: #00e2c0;

}
.copyright{
    position: absolute;
    left: 5rem;
    bottom: -45px;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 5rem;
}
.gotopbtn .fas{
    font-size: 18px;
    margin-top: 10px;
    border-radius: 2px solid #fff;
}
.gotopbtn{
    border-radius: 2px solid #fff;
}
